<!DOCTYPE html>
<html lang="en">
    <head>
        <title>LA SUCKS</title>
    </head>
    <div>
        <style>
            body {
            width:100%;
            height:100%;
            background-image: url(https://banner2.kisspng.com/20180206/kgq/kisspng-gas-mask-clip-art-gas-masks-5a7a14468a9ce3.9809449515179500225678.jpg"),
            url('https://media1.giphy.com/media/zjsyKpMVErejC/giphy.gif');
            background-position: top;
            background-repeat: no-repeat;
            position: relative;
        }
    </style>
</div>

    <center><a> </a>
    <img src="https://media.giphy.com/media/3oKIPiqfUtLCnIKxRS/giphy.gif>
<h1> LA SUCKS </H1>
<h1>How Much COPD will you get in LA?!</h1>
<h2><i>use this handy parts per million particulate b.s. to find out</i></h2>
<p>Here are the latest times when you should wear your gas mask in LA:</p>
{% for item in filtered %}
<p>{{item}}</p>
{% endfor %}
</body>

</html>
